<h2>Редактирование поста:</h2>
<%= simple_form_for :post,url:post_path(@post), method: :patch   do |f|%>
  <% if @post.errors.any?%>
    <%@post.errors.full_messages.each do |msg| %>
      <div class = 'alert alert-danger'><%= msg %></div>
    <%end%>
  <%end%>

  <p>
    Название<br>
    <%=f.input(:title, {:class => 'form-control'}) %>
  </p>
  <p>
    текст статьи <br>
    <%=f.input(:body, {:class => 'form-control'}) %>
  </p>

  <p>
    <%=f.submit({:class => 'btn, btn-success'}) %>
  </p>
<%end%>